@media (max-width: 575.98px) {
    .navbar-toggler i {
        color: #fff;
        font-size: 24px;
    }
    button:focus {
        outline: none;
    }
    
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
	    line-height: 17px;
        background: #00e0d0;
        color: #000;
    }
    .navbar-light .navbar-nav .nav-link:hover{
    color: #000;
    }

}

/*
    .navbar-toggler i {
        color: turquoise;
        font-size: 24px;
    }
    button:focus {
        outline: none;
    }
    .navbar-nav {
        background: #311d5e;
    }
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        line-height: 20px;
    }
    #banner {
        padding-bottom: 20px;
    }
    #about-us {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .about-text {
        margin-left: 5px;
    }
    #video {
        padding: 100px;
    }
    .video-icon i {
        color: #fff;
        font-size: 26px;
        width: 70px;
        height: 70px;
        line-height: 70px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 15px;
        padding-left: 30px;
        margin-bottom: 20px;
    }
    img {
        margin-bottom: 15px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        margin-bottom: 0;
    }
    #feedback {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .feed-text p {
        padding: 0 10px;
    }
    #news-clint {
        padding-bottom: 10px;
    }
    .cl-heading h3 {
        padding-top: 30px;
    }
    .client1 img {
        padding-left: 40px;
    }
    .client2 img {
        padding-left: 40px;
    }
    .sub-copy input {
        width: 175px;
    }
    .sub-copy input {
        padding: 0px 10px;
    }
    .sub-copy button {
        width: 50px;
        font-size: 15px;
    }
    .social-icon i {
        margin-right: 2px;
    }
    .copy-right p {
        text-align: center;
    }
}

@media (max-width: 767.98px) {
    .navbar-toggler i {
        color: turquoise;
        font-size: 24px;
    }
    button:focus {
        outline: none;
    }
    .navbar-nav {
        background: #311d5e;
    }
    .navbar-light .navbar-nav .nav-link {
        text-align: center;
        line-height: 20px;
    }
    img {
        padding-left: 162px;
    }
    #about-us {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .about-text {
        margin-left: 35px;
    }
    .about-text h4 {
        padding-top: 30px;
    }
    #video {
        padding: 70px;
    }
    img {
        padding-left: 0px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-bottom: 30px;
    }
    .team-discribe p {
        padding-top: 15px;
    }
  
    #work {
        padding-bottom: 40px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-bottom: 0;
    }
    #feedback {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .feed-text p {
        padding: 0px 20px;
    }
    .client1 img {
        margin-right: 40px;
    }
    .footer-menu {
        text-align: center;
        padding-top: 16px;
    }
    .copy-right p {
        padding-top: 40px;
        text-align: center;
    }
    .loaction h3 {
        padding-top: 35px;
    }

}
@media (max-width: 991.98px) {
    .banner-text {
        display: none;
    }
    #about-us {
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .about-text {
        margin-left: 35px;
    }
    .about-text h4 {
        padding-top: 30px;
    }
    #video {
        padding: 70px;
    }
    img {
        padding-left: 0px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-bottom: 30px;
    }
    .team-discribe p {
        padding-top: 15px;
    }
  
    #work {
        padding-bottom: 40px;
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-bottom: 0;
    }
    #feedback {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .feed-text p {
        padding: 0px 20px;
    }
    .client1 img {
        margin-right: 40px;
    }
    .footer-menu {
        text-align: center;
        padding-top: 16px;
    }
    .copy-right p {
        padding-top: 40px;
        text-align: center;
    }
    .loaction h3 {
        padding-top: 35px;
    }
}
*/
